<div>
	<div class="row">
		<%= render :partial => "shared/p_pins_show", :locals => {:directory => @directory, :favs => @favs, :pins => @pins } %>		
		<div class="span9">
			<div class="row">
				<ul class="breadcrumb">
					<li><%= link_to raw('<i class="icon-home"></i> Accueil'), root_path, :class => directory.parent.nil? ? "active" : "enabled" %><span class="divider">/</span></li>
					<% dir = directory.parent %>
					<% out = "" %>
					<% while (! dir.nil?) && (! dir.parent.nil?)do %>
						<% out = '<li>'+link_to(h(dir.hr), dir)+'<span class="divider">/</span></li>' + out %>
						<% dir = dir.parent %>
					<% end %>	
					<%= raw(out) %>
					<% unless directory.parent.nil? %>
						<li class="active"><%= link_to h(directory.hr), directory.parent %><span class="divider">/</span></li>
					<% end %>	
		    	</ul>
		    </div>	
		    <div class="row">
				<div class="span4">
					<table class="table table-bordered table-striped table-condensed table-hover">
					    <thead>
					    	<tr>
						        <th><%= directory.hr %></th>
					    	</tr>
					    </thead>
					    <tbody>
							<% directory.directories.each do |dir| %>
							<tr>
								<td>
									<%= link_to raw('<i class="icon-folder-open"></i> '+h(dir.hr)), dir %> <%= link_to raw('<i class="icon-star'+(dir.fav ? "" : "-empty")+'"></i>'), directory_path(dir, "directory[fav]" => ! dir.fav), :method => :put %> <%= link_to raw('<i class="icon-tag'+(dir.pin ? "s" : "")+'"></i>'), directory_path(dir, "directory[pin]" => ! dir.pin), :method => :put %>
								</td>
							</tr>	
							<% end %>
					    </tbody>
					</table>
				</div>	
				<div class="span5">
					<table class="table table-bordered table-striped table-condensed table-hover">
					    <thead>
					    	<tr>
						        <th>Contenu</th>
					    	</tr>
					    </thead>
					    <tbody>
							<% directory.leafs.each do |leaf| %>
							<tr>
								<td><i class="icon-leaf"></i> <%= link_to leaf.hr, leaf %> <%= link_to raw('<i class="icon-star'+(leaf.fav ? "" : "-empty")+'"></i>'), leaf_path(leaf, "leaf[fav" => ! leaf.fav), :method => :put %> <%= link_to raw('<i class="icon-tag'+(leaf.pin ? "s" : "")+'"></i>'), leaf_path(leaf, "leaf[pin" => ! leaf.pin), :method => :put %></td>
							</tr>	
							<% end %>
							<% directory.lassos.each do |lasso| %>
							<tr>
								<td><i class="icon-briefcase"></i> <%= link_to lasso.hr, lasso %> <%= link_to raw('<i class="icon-star'+(lasso.fav ? "" : "-empty")+'"></i>'), lasso_path(lasso, "lasso[fav" => ! lasso.fav), :method => :put %> <%= link_to raw('<i class="icon-tag'+(lasso.pin ? "s" : "")+'"></i>'), lasso_path(lasso, "lasso[pin" => ! lasso.pin), :method => :put %></td>
							</tr>	
							<% end %>
					    </tbody>
					</table>
				</div>	
		    </div>	
		</div>	
	</div>	
</div>	