<div>
	<div class="row">
		<%= render :partial => "shared/p_pins_show", :locals => {:directory => lasso.directory, :favs => @favs, :pins => @pins } %>		
		<div class="span9">
			<div class="row">
				<ul class="breadcrumb">
					<li><%= link_to raw('<i class="icon-home"></i> Accueil'), root_path, :class => lasso.directory.parent.nil? ? "active" : "enabled" %><span class="divider">/</span></li>
					<% dir = lasso.directory.parent %>
					<% out = "" %>
					<% while (! dir.nil?) && (! dir.parent.nil?)do %>
						<% out = '<li>'+link_to(h(dir.hr), dir)+'<span class="divider">/</span></li>' + out %>
						<% dir = dir.parent %>
					<% end %>	
					<%= raw(out) %>
					<% unless lasso.directory.parent.nil? %>
						<li class="active"><%= link_to h(lasso.directory.hr), lasso.directory.parent %><span class="divider">/</span></li>
					<% end %>	
		    	</ul>
		    </div>	
		    <div class="row">
			      <h3><%= lasso.hr %></h3>
		    </div>
		    <div class="row">
				<div class="span3">
					<div>
			    		<span class="label label-info"><i class="icon-briefcase icon-white"></i> <%= lasso.name %>
						<%= link_to raw(' <i class="icon-edit icon-white"></i>'), [:edit, lasso.directory, lasso] %></span>
			    	</div>
					<div>
						<span class="label">créé le <%= lasso.created_at.strftime("%e-%m-%y %H:%M") %>
						<% unless lasso.created_at == lasso.updated_at %>
							<br/>modif. le <%= lasso.updated_at.strftime("%e-%m-%y %H:%M") %>
						<% end %>	
						</span>
					</div>
				</div>	 
			    <div class="span6">  
			      <strong><%= lasso.note %></strong>
			    </div>		    
		    </div>
		    <div class="row">
				<table class="table table-bordered table-striped table-hover">
				    <thead>
				      <tr>
				        <th>#</th>
				        <th>Nom</th>
				        <th>Description</th>
				        <th>Note</th>
				      </tr>
				    </thead>
				    <tbody>
					<% lasso.lassos.each do |l| %>
						<tr>
					    	<td><%= l.id %></td>
					    	<td><%= l.name %></td>
					    	<td><%= l.hr %></td>
					    	<td><%= l.note %></td>
						</tr>
					<% end %>
					<% lasso.children.each do |l| %>
						<tr>
					    	<td><%= l.id %></td>
					    	<td><%= l.name %></td>
					    	<td><%= l.hr %></td>
					    	<td><%= l.note %></td>
						</tr>
					<% end %>
					</tbody>
				</table>
		    </div>	
		</div>	
	</div>	
</div>	