<!DOCTYPE html>
<html>
<head>
  <title>Ruby on Rails Tutorial Sample App | <%= yield(:title) %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<header class="jumbotron subhead" id="overview">
  <div class="row">
    <div class="span6">
      <h1>Reezoo</h1>
      <p>Une panne ? vous êtes sur le bon site !</p>
      <p class="lead">Collections d'informations & liens.</p>
    </div>
    <div class="span6">
    </div>
  </div>
</header>

<%= yield %>

</body>
</html>
